<h3> Log In To Your Account: </h3>

<form action="/login" method="POST">
  <label> Username: </label>
    <input type="text" id="username" name="username" placeholder="Enter username" required>
    <br></br>
  <label> Password: </label>
    <input type="password" id="password" name="password" placeholder="Enter password" required>
    <br></br>
  <input type="submit" id="submit" name="submit" value="Log In">
